body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    background-image: url("images/table.png");
    text-align: center;
    color:white;
    font-weight: bold;
}

h1 {
    color: goldenrod;
}

#message-el{
    font-style: italic;
}

button{
    width: 150px;
    background-color: goldenrod;
    color: #016f32;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 4px;
    margin-top: 4px;
}

#name{
    width: 300px;
}

.row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }